<div class="container mx-auto p-4">
	<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-3 gap-8 p-6">
		{% for product in products %}
			<div class="border rounded-lg shadow-md p-4 flex flex-col">
				<a href="{{ path('product_show', {'id': product.id}) }}" class="block border rounded-lg shadow-md p-4 hover:shadow-2xl transition-shadow duration-300">
					<div class="flex justify-center items-center">
						<img src="{{ vich_uploader_asset(product) }}" alt="{{ product.name }}" class="w-full h-48 object-cover rounded-t-lg">
					</div>
				</a>
				<div class="mt-4 flex-grow">
					<h3 class="text-lg font-semibold">{{ product.name }}</h3>
					<p class="mt-2 text-lg font-bold">{{ product.price|format_currency('EUR', locale='fr') }}</p>
					

					<!-- Formulaire pour la quantité -->
					{{ form_start(forms[product.id]) }}
					{{ form_widget(forms[product.id].quantity, { 'attr': {'class': 'w-full mt-2 border rounded p-2'} }) }}
					<button type="submit" class="w-full bg-green-700 hover:bg-green-800 text-white px-4 py-2 rounded mt-2">Ajouter</button>
					{{ form_end(forms[product.id]) }}
					<!-- Fin du formulaire -->
				</div>

				<div class="flex items-center justify-between mt-3">

					{% if is_granted('ROLE_ADMIN') %}
						<!-- Bouton Modifier -->
						<a href="{{ path('product_edit', {'id': product.id}) }}" class="px-3 py-2 bg-customBlue hover:bg-blue-600 text-white text-xs font-bold uppercase rounded">Modifier</a>

						<!-- Formulaire Supprimer -->
						<form action="{{ path('product_delete', {'id': product.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');" class="inline">
							<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
							<button type="submit" class="px-3 py-2 bg-red-500 hover:bg-red-600 text-white text-xs font-bold uppercase rounded">Supprimer</button>
						</form>
					{% endif %}
				</div>
			</div>

		{% endfor %}
	</div>
</div>


{# <script>
		document.addEventListener('DOMContentLoaded', function () {
	var button = document.getElementById('details-button');
	var description = document.getElementById('product-description');
	
	button.addEventListener('click', function () {
	if (description.classList.contains('hidden')) {
	description.classList.remove('hidden');
	button.textContent = 'Détails';
	} else {
	description.classList.add('hidden');
	button.textContent = 'Détails';
	}
	});
	});
	</script> #}
