{% for product in products %}

	<div class="card_shop rounded-lg shadow-lg bg-white">

		<img class="listing_card" src="{{ vich_uploader_asset(product) }}" alt="Image du produit">
		<div class="p-6">
			<div class="listing-title text-gray-900 font-bold text-xl">{{ product.name }}</div>

			<p class="text-gray-900 font-semibold">{{ product.price|format_currency('EUR', locale='fr') }}</p>

			<p id="product-description" class="text-gray-500 mt-2 hidden">{{ product.description }}</p>
{# formulaire pour la quantité #}
			{{ form_start(forms[product.id]) }}
			   {{ form_widget(forms[product.id].quantity) }}
            <button type="submit">Ajouter</a>
			{{ form_end(forms[product.id]) }}
{# formulaire pour la quantité #}
			<button class="w-full bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded-lg">Acheter</button>
			<div class="flex items-center justify-between mt-3">
				<button id="details-button" class="px-3 py-2 bg-gray-300 hover:bg-gray-400 text-gray-800 text-xs font-bold uppercase rounded">Détails</button>

				{% if is_granted('ROLE_ADMIN') %}
					<!-- Bouton Modifier -->
					<a href="{{ path('product_edit', {'id': product.id}) }}" class="px-3 py-2 bg-blue-500 hover:bg-blue-600 text-white text-xs font-bold uppercase rounded">Modifier</a>

					<!-- Formulaire Supprimer -->
					<form action="{{ path('product_delete', {'id': product.id}) }}" method="POST" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer ce produit ?');">
						<input type="hidden" name="_token" value="{{ csrf_token('delete' ~ product.id) }}">
						<button type="submit" class="px-3 py-2 bg-red-500 hover:bg-red-600 text-white text-xs font-bold uppercase rounded">Supprimer</button>
					</form>
				{% endif %}
			</div>
		</div>

	</div>
{% endfor %}

{# <script>
	document.addEventListener('DOMContentLoaded', function () {
var button = document.getElementById('details-button');
var description = document.getElementById('product-description');

button.addEventListener('click', function () {
if (description.classList.contains('hidden')) {
description.classList.remove('hidden');
button.textContent = 'Détails';
} else {
description.classList.add('hidden');
button.textContent = 'Détails';
}
});
});
</script> #}
