<nav id="nav_header" class="sticky top-0 left-0 right-0 z-50 w-auto h-auto flex p-5 shadow-lg">
    <a href="{{ path('home') }}" class="h-8 w-8 md:hidden">
       <img src="{{asset('picture/logo4.png')}}" alt="Menu" clas="h-8 w-8 md:hidden"/>
	</a>
	<ul class="nav_menu flex justify-around items-center">
		<li class="menu_burger_link max-md:hidden font-semibold">
			<a href="{{path('home')}}" class="nav_link">Accueil</a>
		</li>
		<li class="menu_burger_link max-md:hidden font-semibold">
			<a href="{{path('service')}}" class="nav_link">Services</a>
		</li>
		<li class="menu_burger_link max-md:hidden font-semibold">
			<a href="{{path('listing')}}" class="nav_link">Produits</a>
		</li>
		<li class="menu_burger_link max-md:hidden font-semibold">
			<a href="{{path('contact')}}" class="nav_link">Contact</a>
		</li>


		{% if app.user and is_granted('ROLE_ADMIN') %}
			<a href="{{ path('infos') }}" class="nav_link font-semibold max-md:hidden">

				Compte
			</a>
		{% elseif app.user %}
			<a href="{{ path('infos') }}" class="nav_link font-semibold max-md:hidden">

				Compte
			</a>
		{% else %}
			<a href="{{ path('app_login') }}" class=" nav_link font-semibold max-md:hidden">

				Compte
			</a>
		{% endif %}
		{% if app.request.get('_route') == 'listing' %}
			<li class="menu_burger_link flex max-md:hidden">
				<a href="{{ path('cart')}}">
					<p class="current-quantity font-bold text-amber-500">{{ total }}<p>
					<img src="{{asset('picture/icons8-caddie.png')}}" alt="" class="h-8 w-8 sm:h-8 sm:w-8">
				</a>
			</li>
		{% endif %}


	</ul>
	{% if app.request.get('_route') == 'listing' %}
			<li class="menu_burger_link flex md:hidden mr-3">
				<a href="{{ path('cart')}}">
					<p class="current-quantity font-bold text-amber-500">{{ total }}<p>
					<img src="{{asset('picture/icons8-caddie.png')}}" alt="" class="h-8 w-8 sm:h-8 sm:w-8">
				</a>
			</li>
		{% endif %}
	<button id="menu-burger" class="hover:scale-90 transition duration-300 h-8 w-8 sm:h-8 sm:w-8 md:hidden">
		<img src="{{asset('picture/icons8-hamburger.svg')}}" alt="Menu"/>
	</button>

	<div id="menu-content" class="hidden text-white bg-customBlue w-screen h-screen fixed right-0 top-0 z-10 flex flex-col justify-center items-center px-5 py-4">
		<button id="close" class="hover:scale-90 h-5 w-5 sm:h-6 sm:w-6 absolute bg-white top-10">
			<img src="{{asset('picture/cancel.png')}}" alt="Menu"/>
		</button>
		<a href="{{path('home')}}" class="text-lg mb-5">Accueil</a>
		{% if app.user %}
			<a href="{{path('infos')}}" class="text-lg mb-5">Compte</a>
		{% else %}
			<a href="{{path('app_login')}}" class="text-lg mb-5">Compte</a>
		{% endif %}
		<a href="{{path('service')}}" class="text-lg mb-5">Services</a>
		<a href="{{path('listing')}}" class="text-lg mb-5">Produits</a>
		<a href="{{path('contact')}}" class="text-lg">Contact</a>
	</div>
</nav>
