{% extends 'user_interface/base.html.twig' %}

{% block availability %}

	<div class="md:ml-3 px-4 py-3 shadow-lg rounded-sm lg:w-[700px] md:w-[500px]">
		{{ form_start(form) }}

		<!-- Champ Date de début -->
		<div class="mb-4">
			{{ form_label(form.startDateTime, 'Date de début:', { 'label_attr': { 'class': 'block text-gray-700 text-sm font-bold mb-2' } }) }}
			{{ form_widget(form.startDateTime, { 'attr': { 'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' } }) }}
			{{ form_errors(form.startDateTime) }}
		</div>

		<!-- Champ Date de fin -->
		<div class="mb-4">
			{{ form_label(form.endDateTime, 'Date de fin:', { 'label_attr': { 'class': 'block text-gray-700 text-sm font-bold mb-2' } }) }}
			{{ form_widget(form.endDateTime, { 'attr': { 'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline' } }) }}
			{{ form_errors(form.endDateTime) }}
		</div>

		<!-- Bouton de soumission -->
		<div class="flex justify-center mt-6">
			<button class="bg-customBlue hover:bg-blue-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
				Ajouter
			</button>
		</div>
		{% for message in app.flashes('success') %}
			<div class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative" role="alert">
				<strong class="font-bold">Succès!</strong>
				<span class="block sm:inline">{{ message }}</span>
			</div>
		{% endfor %}

		{{ form_end(form) }}
	</div>

{% endblock %}
