{% extends 'base.html.twig' %}

{% block title %}Hello CartController!
{% endblock %}

{% block body %}


	<ul>
		{% if products is empty %}
			<div class="flex justify-center items-center p-3">
				<p class="text-2xl">Votre panier est vide.</p>
			</div>
		{% else %}
			{% for product in products %}
				<li>
					<h3>Produit :
						{{ product.name }}
						x
						{{ app.session.get('cart')[product.id] }}</h3>
					<span>Prix unitaire :
						{{ product.price|format_currency('EUR', locale='fr') }}</span>
					<span>Total :
						{{ (product.price * app.session.get('cart')[product.id])|format_currency('EUR', locale='fr') }}</span>
					<div class="">
						<a href="{{ path('remove', {id: product.id}) }}" class="bg-red-500 rounded-lg w-auto p-1">Retirer</a>
					</div>
				</li>
			{% endfor %}
			<h2>Total :
				{{ totalPrice|format_currency('EUR', locale='fr') }}</h2>
		{% endif %}
	</ul>


{% endblock %}
