{% extends "base.html.twig" %}


{% block body %}


	<div class="flex justify-center mb-72 w-auto h-auto ">
		{{ form_start(registrationForm) }}
		<div class="shadow-md shadow-black rounded-md mt-11 p-11">

			<h1 class="text-2xl mb-5 flex justify-center">Inscription</h1>

			{{ form_errors(registrationForm) }}


			{{ form_row(registrationForm.email, {
            label: 'Email :',
            'label_attr': {'class': 'block text-sm'},
            'attr': {'class':'border-solid border-2 mb-5'}
        }) }}


			{{ form_row(registrationForm.password.first, {
				label: 'Mot de passe :',
			            'label_attr':{'class': 'block text-sm'},
			            'attr': {'class': 'border-solid border-2 mb-5'}
			}) }}

			{{ form_row(registrationForm.password.second, {
				label: 'Confirmer le mot de passe :',
			            'label_attr':{'class': 'block text-sm'},
			            'attr': {'class': 'border-solid border-2 mb-5'}
			}) }}


			{{ form_row(registrationForm.agreeTerms, {
                label:"J'accepte les conditions "
            }) }}
			<button type="submit" class="btn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mt-2">S'inscrire</button>


			<p class="mt-4">Déjà un compte? Connectez-vous</p>
			<a href="{{ path('app_login') }}" class="block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded text-center">
				Se connecter
			</a>
		</div>
		{{ form_end(registrationForm) }}
	</div>
{% endblock %}
