{% extends 'base.html.twig' %}


{% block contact %}

    <p class="text-center text-gray-600 text-xl mb-5 mt-11">Nous serions ravis de vous lire ! N'hésitez pas à nous envoyer un message, nous répondons avec attention et bienveillance.</p>
	<div class="flex justify-center mb-10 w-auto h-auto">
	 
		{{ form_start(form) }}

		<div class="shadow-md shadow-black rounded-md mt-11 p-11 w-auto sm:w-[400px] md:w-[700px]">
			<h1 class="text-2xl mb-5 text-center">Nous contacter</h1>

			{{ form_row(form.title, {
        label: 'Titre :',
        'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'},
        'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-5'}
    }) }}

			{{ form_row(form.email, {
        label: 'Email :',
        'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'},
        'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-5'}
    }) }}

			{{ form_row(form.message, {
        label: 'Message :',
        'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'},
        'attr': {'class': 'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-5'}
    }) }}

			<div class="flex justify-center mt-2">
				<button type="submit" class="bg-customBlue hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline w-full">
					Envoyer
				</button>
			</div>
		</div>


		{{ form_end(form) }}
	</div>


{% endblock %}
