<header class="h-auto w-auto bg-white-500">

<nav class="w-auto bg-white-500 flex justify-end mx-5 my-5 gap-5 relative">
<a href="" class="hover:scale-90 flex absolute left-0 ">
<img src="{{asset('picture/logo.png')}}" alt="" class="h-12 w-12">
</a>

<a href="" class="hover:scale-90 flex ">
<img src="{{asset('picture/user.png')}}" alt="" class="h-8 w-8">
compte
</a>


<a href="" class="hover:scale-90">
<img src="{{asset('picture/favorite.png')}}" alt="" class="h-8 w-8">
</a>

<a href=""class="hover:scale-90">
<img src="{{asset('picture/cart.png')}}" alt="" class="h-8 w-8">
</a>

<a href=""class="hover:scale-90">
<img src="{{asset('picture/burger.png')}}" alt="" class="h-8 w-8">
</a>

</nav>

</header>