{% extends "base.html.twig" %}

{% block body %}
    <main class="mx-auto p-4">

        <!-- Section pour le titre et les bordures -->
        <section class="flex items-center justify-center my-10">
            <div class="w-1/4 border-t-4 border-orange-400 mx-2"></div>
            <h1 class="text-center text-3xl sm:text-6xl font-light">Les massages</h1>
            <div class="w-1/4 border-t-4 border-orange-400 mx-2"></div>
        </section>

        <!-- Section pour le Massage Californien -->
        <section class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
            <article class="p-4">
                <h2 class="text-3xl font-semibold text-orange-400">Massage Californien</h2>
                <p class="mt-4 text-lg font-extralight">
                    Besoin de vous détendre et de vous relaxer en profondeur ? Découvrez le Massage Californien, une expérience sensorielle unique qui vous transportera au cœur de la relaxation. Laissez-vous envelopper par des gestes enveloppants, fluides et harmonieux, libérant les tensions et apaisant l'esprit. Offrez-vous un moment de bien-être absolu et ressourcez-vous grâce au Massage Californien. Prenez soin de vous, réservez dès maintenant.
                </p>
				<h3 class="text-2xl font-semibold text-orange-400 mb-4 mt-4 inline-flex items-center">
					Les Bienfaits
					<img src="{{ asset('picture/sun.gif') }}" alt="Centre de massage" class="rounded-lg shadow-md w-20 h-20 ml-3">
				</h3>
                <div class="flex gap-4">
                    <ul class="gap-3 font-gwendolyn text-2xl flex flex-col">
                        <li><p>*Relaxation profonde</p></li>
                        <li><p>*Réduction du stress</p></li>
                        <li><p>*Amélioration de la circulation sanguine</p></li>
                    </ul>
                    <ul class="gap-3 font-gwendolyn text-2xl flex flex-col">
                        <li><p>*Soulagement des douleurs musculaires</p></li>
                        <li><p>*Amélioration du sommeil</p></li>
                        <li><p>*Renforcement du bien-être émotionnel</p></li>
                    </ul>
					
                </div>
				<a href="{{ path('calendar') }}" class="block bg-yellow-500 text-white font-semibold py-3 px-6 rounded-lg shadow-lg transition-all duration-500 w-full mt-6 hover:bg-yellow-400 hover:scale-105 text-center">Réserver une séance</a>
            </article>
            <article class="p-4">
                <img src="{{ asset('picture/azer.jpg') }}" alt="Centre de massage" class="rounded-lg shadow-md w-full h-auto">
            </article>
        </section>

        <!-- Section pour le Massage Suédois -->
        <section class="mx-auto p-4">
            <div class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6">
                <article class="p-4">
                    <img src="{{ asset('picture/fre.jpg') }}" alt="Centre de massage" class="rounded-lg shadow-md w-full h-auto">
                </article>
                <article class="p-4">
                    <h2 class="text-3xl font-semibold text-orange-400">Massage Suédois</h2>
                    <p class="mt-4 text-lg font-extralight">
                    Si vous recherchez une expérience de détente ultime, le massage suédois est fait pour vous. Profitez d'une séance relaxante qui soulage les tensions musculaires et favorise la circulation sanguine. Laissez-vous chouchouter et revitaliser votre corps et votre esprit. Réservez dès maintenant pour une expérience inoubliable !
                    </p>
                    <h3 class="text-2xl font-semibold text-orange-400 mb-4 mt-4 inline-flex items-center">
					Les Bienfaits
					<img src="{{ asset('picture/sun.gif') }}" alt="Centre de massage" class="rounded-lg shadow-md w-20 h-20 ml-3">
				    </h3>
                    <div class="flex gap-4 font-gwendolyn text-2xl">
                        <ul class="gap-3 flex flex-col">
                            <li><p>*Réduction du stress et de l'anxiété</p></li>
                            <li><p>*Amélioration de la circulation sanguine</p></li>
                            <li><p>*Soulagement des tensions musculaires</p></li>
                        </ul>
                        <ul class="gap-3 flex flex-col">
                            <li><p>*Amélioration de la flexibilité</p></li>
                            <li><p>*Réduction des douleurs chroniques</p></li>
                        </ul>
                    </div>
                    <a href="{{ path('calendar') }}" class="block bg-yellow-500 text-white font-semibold py-3 px-6 rounded-lg shadow-lg transition-all duration-500 w-full mt-6 hover:bg-yellow-400 hover:scale-105 text-center">Réserver une séance</a>

                </article>
            </div>
			
        </section>

        <!-- Section pour la Madérothérapie -->
        <section class="grid grid-cols-1 md:grid-cols-2 gap-6 mt-6 pb-20">
            <article class="p-4">
                <h2 class="text-3xl font-semibold text-orange-400">Madérothérapie</h2>
                <p class="mt-4 text-lg font-extralight">
                    La maderothérapie est une technique de massage qui utilise des outils en bois, tels que des rouleaux et des bâtons, pour masser et stimuler les tissus profonds du corps. Cette méthode de massage peut aider à améliorer la circulation sanguine, à réduire la cellulite, à tonifier la peau et à soulager les tensions musculaires. Elle est également connue pour favoriser la relaxation et le bien-être général. La maderothérapie est une approche naturelle et non invasive qui peut être bénéfique pour ceux qui recherchent un massage thérapeutique et relaxant.
                </p>
                <h3 class="text-2xl font-semibold text-orange-400 mb-4 mt-4 inline-flex items-center">
					Les Bienfaits
					<img src="{{ asset('picture/sun.gif') }}" alt="Centre de massage" class="rounded-lg shadow-md w-20 h-20 ml-3">
				</h3>
                <div class="flex gap-4 font-gwendolyn text-2xl">
                    <ul class="gap-3 flex flex-col">
                        <li><p>*Amélioration de la circulation sanguine</p></li>
                        <li><p>*Réduction de la cellulite</p></li>
                        <li><p>*Tonification musculaire</p></li>
                    </ul>
                    <ul class="gap-3 flex flex-col">
                        <li><p>*Soulagement des tensions musculaires</p></li>
                        <li><p>*Relaxation et bien-être</p></li>
                    </ul>
                </div>
				<a href="{{ path('calendar') }}" class="block bg-yellow-500 text-white font-semibold py-3 px-6 rounded-lg shadow-lg transition-all duration-500 w-full mt-6 hover:bg-yellow-400 hover:scale-105 text-center">Réserver une séance</a>
            </article>
            <article class="p-4">
                <img src="{{ asset('picture/maderotherapie.jpg') }}" alt="Centre de massage" class="rounded-lg shadow-md w-full h-auto">
            </article>
        </section>

    </main>
{% endblock %}
