{% extends 'base.html.twig' %}

{% block body %}
	<div class="p-6 flex max-md:justify-center max-md:flex-col mb-20">
		<div class="flex flex-col">
			<div>
				{% if is_granted('ROLE_ADMIN') == false %}
					<h1 class="text-3xl mb-5 font-semibold">Mon compte</h1>
				{% else %}
					<h1 class="text-3xl mb-5 font-semibold">Mon compte Admin</h1>
				{% endif %}

				{% set totalUser = app.session.get('totalUser', 0) %}

				<div class="ml-4 my-2">
					<p class="text-sm font-medium">Total utilisateurs :</p>
					<p class="text-3xl font-bold">{{ totalUser }}</p>
				</div>

			</div>

			<div class="md:flex">
				<nav class="flex-wrap md:w-52">
					<ul class="divide-y divide-solid">

						{% if is_granted('ROLE_ADMIN') == false %}
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'infos' %} bg-slate-300{% endif %} cursor-pointer">
								<a href="{{ path('infos') }}" class="w-full block">Interface</a>
							</li>
							<li class="p-3 hover:bg-slate-300 cursor-pointer">
								<a href="" class="w-full block">Commandes</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'appointment' %} bg-slate-300{% endif %} cursor-pointer">
								<a href="{{ path('appointment') }}" class="w-full block">Mes rendez-vous</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'account' %} bg-slate-300{% endif %} cursor-pointer">
								<a href="{{ path('account') }}" class="w-full block">Détails du compte</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'password' %} bg-slate-300{% endif %} cursor-pointer">
								<a href="{{ path('password') }}" class="w-full block">Mot de passe</a>
							</li>

						{% else %}
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'infos' %} bg-slate-300{% endif %} cursor-pointer">
								<a href="{{ path('infos') }}" class="w-full block">Interface</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'app_register_admin' %} bg-slate-300{% endif %} cursor-pointer">
								<a href="{{ path('app_register_admin') }}" class="w-full block">Créer Admin</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'availability' %} bg-slate-300{% endif %} cursor-pointer">
								<a href="{{ path('availability') }}" class="w-full block">Ajouter disponibilité</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'availability_list' %} bg-slate-300{% endif %} cursor-pointer">
								<a href="{{ path('availability_list') }}" class="w-full block">Modifier disponibilité</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'admin_reservation' %} bg-slate-300{% endif %} cursor-pointer">
								<a href="{{ path('admin_reservation') }}" class="w-full block">Réservation</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'product' %} bg-slate-300{% endif %} cursor-pointer">
								<a href="{{ path('product') }}" class="w-full block">Ajouter un produit</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'account' %} bg-slate-300{% endif %} cursor-pointer">
								<a href="{{ path('account') }}" class="w-full block">Détails du compte</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'password' %} bg-slate-300{% endif %} cursor-pointer">
								<a href="{{ path('password') }}" class="w-full block">Mot de passe</a>
							</li>

						{% endif %}
						<li class="max-md:mb-6 p-3 bg-red-500 hover:bg-red-600 cursor-pointer">
							<a href="{{ path('app_logout') }}" class="w-full block">Se deconnecter</a>
						</li>

					</ul>
				</nav>
				{% block content %}{% endblock %}
				{% block reservation %}{% endblock %}
				{% block register_admin %}{% endblock %}
				{% block availability %}{% endblock %}
				{% block appointment %}{% endblock %}
				{% block availability_list %}{% endblock %}
				{% block password %}{% endblock %}
				{% block product %}{% endblock %}
				{% block infos %}{% endblock %}
			</div>
		</div>
	</div>

{% endblock %}
