{% extends 'base.html.twig' %}

{% block body %}
	<div class="section my-20 flex justify-center">
		<div class="w-2/3 ">
			{% if is_granted('ROLE_ADMIN') == false %}
				<h1 class="text-3xl mb-5 font-semibold">Mon compte</h1>
			{% else %}
				<h1 class="text-3xl mb-5 font-semibold">Mon compte Admin</h1>
			{% endif %}
			<div class="md:flex">
				<nav class="flex-wrap md:w-52">
					<ul class="divide-y divide-solide">

						{% if is_granted('ROLE_ADMIN') == false %}
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'infos' %} bg-slate-300{% endif %}">
								<a href="{{ path('infos') }}">Interface</a>
							</li>

							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'appointment' %} bg-slate-300{% endif %}">
								<a href="{{ path('appointment') }}">Mes rendez-vous</a>
							</li>
							<li class="p-3 hover:bg-slate-300 ">
								<a href="">Commandes</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'account' %} bg-slate-300{% endif %}">
								<a href="{{ path('account') }}">Détails du compte</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'password' %} bg-slate-300{% endif %}">
								<a href="{{ path('password') }}">Mot de passe</a>
							</li>

						{% else %}
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'infos' %} bg-slate-300{% endif %}">
								<a href="{{ path('infos') }}">Interface</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'app_register_admin' %} bg-slate-300{% endif %}">
								<a href="{{ path('app_register_admin') }}">Créer Admin</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'agenda' %} bg-slate-300{% endif %}">
								<a href="{{ path('agenda') }}">Agenda</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'product' %} bg-slate-300{% endif %}">
								<a href="{{ path('product') }}">Ajouter un produit</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'account' %} bg-slate-300{% endif %}">
								<a href="{{ path('account') }}">Détails du compte</a>
							</li>
							<li class="p-3 hover:bg-slate-300 {% if app.request.get('_route') == 'password' %} bg-slate-300{% endif %}">
								<a href="{{ path('password') }}">Mots de passe</a>
							</li>

						{% endif %}
						<li class="p-3 bg-red-500 hover:bg-red-600">
							<a href="{{ path('app_logout') }}">Se deconnecté</a>
						</li>

						<form method="post" action="{{ path('delete_account') }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer votre compte ?');">
							<input type="hidden" name="_token" value="{{ csrf_token('delete-account') }}">
							<button type="submit" class="text-xs mt-10">Supprimer mon compte</button>
						</form>
					</ul>
				</nav>
				{% block content %}{% endblock %}
				{% block register_admin %}{% endblock %}
				{% block agenda %}{% endblock %}
				{% block password %}{% endblock %}
				{% block product %}{% endblock %}
				{% block appointment %}{% endblock %}
				{% block infos %}{% endblock %}
			</div>
		</div>
	</div>


{% endblock %}
