{% extends 'user_interface/base.html.twig' %}

{% block password %}

	<div class="p-6">
		{{ form_start(passwordForm) }}

		{{ form_errors(passwordForm) }}

		{% for label, messages in app.flashes %}
			{% for message in messages %}
				{% include '_notification.html.twig' %}
			{% endfor %}
		{% endfor %}
		
		<div class="block">
			<h1 class="font-semibold text-lg mb-3">Changement de mot de passe</h1>
			{{ form_row(passwordForm.oldPassword, {
            label: 'Mot de passe actuel',
            'label_attr': {'class': 'block text-sm'},
            'attr': {'class':'border-solid border-2 mb-5 pl-1'}
        }) }}
		</div>

		<div class="block">

			{{ form_row(passwordForm.newPassword.first, {
				label: 'Nouveau mot de passe',
			            'label_attr':{'class': 'block text-sm'},
			            'attr': {'class': 'border-solid border-2 mb-5 pl-1'}
			}) }}
		</div>
		<div class="block">
			{{ form_row(passwordForm.newPassword.second, {
				label: 'Confirmer le mot de passe',
			            'label_attr':{'class': 'block text-sm'},
			            'attr': {'class': 'border-solid border-2 mb-5 pl-1'}
			}) }}
		</div>

		<button class="block btn btn-lg btn-primary bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" type="submit ">
			Enregistrer les modifications
		</button>


		{{ form_end(passwordForm) }}
	</div>
{% endblock %}
