{% extends 'user_interface/base.html.twig' %}

{% block password %}

	<div class="p-6">
		{{ form_start(passwordForm) }}

		{{ form_errors(passwordForm) }}

		{% for label, messages in app.flashes %}
			{% for message in messages %}
				{% include '_notification.html.twig' %}
			{% endfor %}
		{% endfor %}

		<div class="block">
			<h1 class="font-semibold text-lg mb-3">Changement de mot de passe</h1>
			{{ form_row(passwordForm.oldPassword, {
        label: 'Mot de passe actuel',
        'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'},
        'attr': {'class':'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-5'}
    }) }}
		</div>

		<div class="block">
			{{ form_row(passwordForm.newPassword.first, {
        label: 'Nouveau mot de passe',
        'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'},
        'attr': {'class':'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-5'}
    }) }}
		</div>

		<div class="block">
			{{ form_row(passwordForm.newPassword.second, {
        label: 'Confirmer le mot de passe',
        'label_attr': {'class': 'block text-gray-700 text-sm font-bold mb-2'},
        'attr': {'class':'shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline mb-5'}
    }) }}
		</div>
		<div class="flex justify-center mt-2">
			<button class="mt-6 bg-customBlue hover:bg-blue-800 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" type="submit">
				Enregistrer les modifications
			</button>
		</div>

		{{ form_end(passwordForm) }}
	</div>
{% endblock %}
