
{% extends 'base.html.twig' %}

{% block body %}
<div class="container mx-auto p-6 w-96 mb-20 mt-10">

    <div class="border rounded-lg shadow-md p-4 h-auto">
        <img src="{{ vich_uploader_asset(product) }}" alt="{{ product.name }}" class="w-full h-64 object-cover rounded-t-lg">
        <div class="mt-4">
            <h1 class="text-2xl">{{ product.name }}</h1>
            <p class="mt-2">Détails: {{ product.description }}</p>
            <p class="mt-4 text-lg font-bold">{{ product.price|format_currency('EUR', locale='fr') }}</p>
        </div>
    </div>
    
</div>
{% endblock %}